.usertable{
	width: 300px;
}
.inputForm{
	float: none;
	display: block;
	margin: 20px;
}
.logoutBtn{
	margin-top: 17px;
}

.navBar{
padding-top: 15px;
padding-left: 30px;
}

.header-container{
	height: 80px;
	background-color:  #393939;
}

.login-register h4{
	float: left;
	color: white;
	padding: 5px;
}

.login-register{
	margin: 15px 20px 20px 20px;
}

.searchTable td,  th {
	width: 100px;
	height: 30px;
}

.searchTable tbody th {
	background-color: #f9f9f9;
}
